body {
  margin: 0;
  padding: 0;
}

h4, h5 {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  th {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
  }
}


tbody {
  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
}
table {
  border-spacing: 0;
}

.row {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
  align-items: center;
}

.spread {
  justify-content: space-between;
}
.center {
  justify-content: center;
}

.full-width {
  width: 100%;
}

.text-container {
  justify-content: center;
  text-align: left;
  align-items: center;
  min-height: 350px;
  flex-direction: column;
    h2 {
      margin: 50px;
    }
    p{
      width: 90%;
      max-width: 400px;
    }
}


.container-title {
  margin: 5vw;
  text-align: center;
}

.text-center {
  text-align: center;
}
.removed-margin {
  margin: 0;
}

//features

.nav-menu {
  margin-top: 10px;
  margin-right: 5%;
  z-index: 200;
  li {
    padding: 5px;
  }
}

.section-header {
  th {
    h3 {
      margin: 0;
    }
    hr {
      margin: 0;
      width: 100%;
    }
  }
}

.image-featured {
  width: 100%;
  height: 30%;
}

.post-markdown {
  p {
    img {
      width:50vw;
      max-width: 500px;
      min-width: 300px;
      margin:20px;
    }
  }
}

.floating-underline {
  position: absolute;
  bottom: 30%;
  width: 35%;
  left: 2px;
  transition: .7s;
}
.active-food {
  left:202px;
}

.menu-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




.logo-button {
  z-index: 90;
}

.inverse-button {
  padding: 10px;
}
.button-flat {
  margin: 0px 50px;
}

.divider-colored {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
    span {
      width: 8px;
      height:35px;
      margin: 4px;
      background-color: blue;
    }
}
