@media (min-width: 600px){
  h1 {
    font-size: 144px;
  }
  h2 {
    font-size: 64px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 24px;
  }
  p, li {
    font-size: 18px;
  }
  .text-container p {
    max-width: 600px;
    min-width: 300px;
  }

}
